{% extends 'base_generic.html' %}

{% load custom_filters %}

{% block content %}
<div class="page">
<div class="layout-fluid">
    <div class="page-wrapper">
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <h2 class="page-title">
                            Literature Detail
                        </h2>
                    </div>
                </div>
                <div class="row g-2 align-items-center">
                    <div class="row row-cards">
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="table-responsive">
                                    <div class="card-header">
                                        <h3 class="card-title">{{ literature.title }}</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="datagrid">
                                            <div class="datagrid-item">
                                                <div class="datagrid-title">Journal</div>
                                                <div class="datagrid-content">{{ literature.journal_abbr }}</div>
                                            </div>
                                            <div class="datagrid-item">
                                                <div class="datagrid-title">Publication Year</div>
                                                <div class="datagrid-content">{{ literature.publication_year }}</div>
                                            </div>
                                            <div class="datagrid-item">
                                                <div class="datagrid-title">DOI</div>
                                                <div class="datagrid-content">{{ literature.doi }}</div>
                                            </div>
                                            <div class="datagrid-item">
                                                {% if literature.projects.all %}
                                                <div class="datagrid-title">Projects</div>
                                                {% for project in literature.projects.all %}
                                                <div class="datagrid-content">{{ project.name }}</div>
                                                <!-- Add any other project-related fields here -->
                                                {% endfor %}
                                                {% else %}
                                                <div class="datagrid-content">No projects associated with this
                                                    literature.</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Attachments</h3>
                                </div>
                                <div class="list-group list-group-flush list-group-hoverable">
                                    {% for attachment in attachments %}
                                    <div class="list-group-item">
                                      <div class="row align-items-center">
                                        <div class="col-auto">{{ forloop.counter }}</span></div>
                                        <div class="col text-truncate">
                                          <a href="{{ attachment.file.url }}"" class="text-reset d-block">{{ attachment.file.name|basename}}</a>
                                          <div class="d-block text-muted text-truncate mt-n1">{{ attachment.uploaded_at }}</div>
                                          <div class="d-block text-muted text-truncate mt-n1">{{ attachment.description }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="text-body-secondary">
                                                <form method="post"
                                                    action="{% url 'literature:literature_detail' pk=literature.pk %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="delete_attachment"
                                                        value="{{ attachment.id }}">
                                                    <button class="btn btn-outline-danger btn-sm"
                                                        type="submit">Delete</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="card-body">
                                    <form class="dropzone" method="post" enctype="multipart/form-data"
                                        action="{% url 'literature:literature_detail' pk=literature.pk %}">
                                        {% csrf_token %}
                                        <div class="fallback">
                                            {{ form.as_p }}
                                            <button type="submit">Upload</button>
                                    </form>
                                </div>
                                <div class="card-body">
                                    <div class="row g-2 align-items-center">
                                        <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                                            <a href="#" class="btn btn-outline-primary w-100">
                                              Noting Now!
                                            </a>
                                        </div>
                                        <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                                            <a href="{% url 'literature:literature_update' pk=literature.pk %}" class="btn btn-outline-warning w-100">
                                              Edit
                                            </a>
                                        </div>
                                        <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                                            <a href="{% url 'literature:literature_delete' literature.pk %}" class="btn btn-outline-danger w-100">
                                              Delete
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="{% url 'literature:literature_list' %}">Back to Literature List</a>
</div>
</div>
</div>

</div>

{% endblock %}